<h2>edit this article</h2>

<form action="/articles/<%= @article.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
  <div>
    <label for="title">Enter the article title: </label>
    <input type="text" name="title" id="title" value="<%= @article.title %>">
  </div>
  <div>
    <label for="content">Enter your content: </label>
    <input type="text" name="content" id="content" value="<%= @article.content %>">
  </div>
  <div>
    <input type="submit" value="EDIT" id="Submit">
  </div>
</form>