<h1>Edit your article here</h1>
<form action="/articles/<%= @article.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
  <label for="title">New Title: </label><br><br>
  <input type="text" name="title" placeholder="<%= @article.title %>"><br><br>
  <label for="content">New Content: </label><br><br>
  <input type="text" name="content" placeholder="<%= @article.content %>"><br><br>
  <input type="submit" value="submit">
</form>

