<form action="/articles" method="POST">

  <label for="title">Title</label>
  <input type="text" id="title"></input>

  <label for="content">Content</label>
  <input type="text" id="title"></input>

  <input type="submit"></input>
</form>
