<form method="post" action="/articles">
  <p>Title: <input type="text" name="title" id="article_title"></p>
  <p>Article: <input type="text" name="content" id="article_content"></p>
  <input type="submit" value="Submit">
</form>