<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <form action="/articles" method="POST">
      <div>
        <label for="title">title</label>
        <input type="text" name="title" id="title">

        <label for="content">content</label>
        <input type="text" name="content" id="content">

        <input type="submit" id="Submit" value="submit">
      </div>
    </form>
  </body>
</html>
