<h1>Add a new article</h1>

<form method="POST" action="/articles">

   <label for="title">Article Title: </label><br><br>
   <input type="text" name="title" id="title"/><br><br>

   <label for="content">Article Content: </label><br><br>
   <input type="text" name="content" id="content"/><br><br>
   
   <input type="submit" />
</form>